
<%  
    var year = null;    
%>

<% if(page.category == 'Blog'){ %>

    <section id="posts" class="posts-collapse" style="position: relative;z-index: 1010;">
        <span class="archive-move-on"></span>

          <% site.categories.each(function(cate) { if(cate.name == 'Blog') { %>
              
              <span class="archive-page-counter"> 
                目前共计 <%=cate.length %> 篇日志
              </span>
              
          <% }}); %>
               
      <% page.posts.sort('date', -1).limit(10).each(function(post) { %>
        <% if(date(post.date, 'YYYY') != year){  year = date(post.date, 'YYYY') %>
        <div class="collection-title">
          <h2 class="archive-year motion-element" id="archive-year-2016" style="opacity: 1; display: block; transform: translateX(0px);border-bottom:none"><%=year%></h2>
        </div> 
        <% } %> 

        <% post.categories.each(function(category) {%>
            <% if(category.name == 'Blog'){ %>
                <article class="post post-type-normal" itemscope="" style="opacity: 1; display: block; transform: translateY(0px);">
          <header class="post-header">
            <h1 class="post-title">
                  <a class="post-title-link" href="<%=config.root + post.path%>">        
                      <span><%=post.title%></span>       
                  </a>
            </h1>
            <div class="post-meta">
              <time class="post-time" datetime="<%- date(post.date, 'YYYY-MM-DD') %>" content="<%- date(post.date, 'YYYY-MM-DD') %>">
                <%- date(post.date, 'MM-DD') %>
              </time>
            </div>
          </header>
        </article>
            <% } %> 
        <% }); %>
      <% }); %>

    </section>

<% } else { %>


<div id="category" class="cate">  
    <h1> <%=page.category%> </h1> 

    <ul> <!-- create the list of posts -->
      <!-- iterate through all the posts on the site --> 
      <% page.posts.each(function(article) { %>
        <!-- list only those which contain the current tag --> 

        <% if (article.link) { %>
         <li style="border-bottom: 1px dashed #ccc;margin-bottom:10px;padding-bottom:10px;">
              <a href="<%=url_for(article.link)%>" target="_blank"><%=article.title || 'No Title'%></a>
         </li>
        <% } else { %>
         <li style="border-bottom: 1px dashed #ccc;margin-bottom:10px;padding-bottom:10px;">
          <a href="<%=url_for(article.path)%>">
            <%=article.title || 'No Title'%>
          </a>
         </li>
        <% } %>
     <% }); %>
    </ul>
</div>

<% } %> 


<%- partial('partials/pagination')%>