
<div id="tag" class="cate" style="display: block;border-bottom: 1px dashed #ccc;">  
    <h1> <%=page.tag%> </h1> 
    <ul> 
      <% page.posts.each(function(article) { %>
        <% if (article.link) { %>
         <li>
              <a href="<%=url_for(article.link)%>" target="_blank"><%=article.title || 'No Title'%></a>
         </li>
        <% } else { %>
         <li>
          <a href="<%=url_for(article.path)%>">
            <%=article.title || 'No Title'%>
          </a>
         </li>
        <% } %>
     <% }); %>
    </ul>
</div>